//Colors
$color_darkOrange: #F16718;
$color_lightOrange: #FF9B62;
$color_darkBlue: #162542;
$color_desatBlue: #7B8BAD;
$color_lightBlue: #E8EFF2;
$color_white: #fff;


body{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: inherit;
} 